body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  padding: 25px;
  justify-content: space-between;
  border-bottom: solid 5px green;
  padding-left: 100px;
  padding-right: 100px;
}

.trybewarts-header-logo {
  width: 100px;
}

#trybewarts-header-title {
  color: white;
  font-size: 70px;
}

#form-floating {
  display: flex;
  align-self: center;
}

#form-title {
  text-align: center;
  margin-bottom: 25px;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  color: white;
  border-radius: 8px;
}

#form-title h1 {
  font-weight: 100;
}

.trybewarts-login {
  display: flex;
}

#btn-login {
  width: 150px;
  height: 60px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin-top: 50px;
  background-color: rgba(250, 235, 215, 0.383);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px rgb(182, 182, 182);
}

#form-dataPerson {
  display: flex;
  flex-direction: column;
}

.form-floating {
  width: 350px;
}

.person-data {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family-content {
  display: flex;
  justify-content: space-between;
}

#check-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#form-rate {
  display: flex;
  justify-content: space-between;
}

#rate {
  display: flex;
}

#counter-character {
  display: flex;
  justify-content: end;
}

#form-text {
  width: 100%;
}

#textarea {
  height: 250px;
  resize: none;
}

#form-submit {
  display: flex;
  justify-content: center;
}

.btn {
  width: 300px;
}

#footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(50, 167, 145);
  border-top: solid 5px green;
}

#footer p {
  margin: 0;
}

#form-data {
  width: 675px;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.383);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 5px 5px rgb(182, 182, 182);
  margin-right: 25px;
}

#form-data h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 100;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  color: white;
  border-radius: 8px;
}

#form-data p {
  font-weight: 800;
  word-wrap: break-word;
}
