@media screen and (max-width : 600px) {

  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    background-color: rgb(50, 167, 145);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px green;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .trybewarts-header-logo {
    width: 50px;
  }

  #trybewarts-header-title {
    color: white;
    font-size: 25px;
  }

  .trybewarts-login {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  #email {
    margin-bottom: 5px;
  }

  #password {
    margin-bottom: 5px;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
  }

  #evaluation-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(250, 235, 215, 0.383);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(182, 182, 182);
  }

  #form-title {
    text-align: center;
    margin-bottom: 25px;
    background-color: rgb(50, 167, 145);
    padding: 10px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  #form-title h1 {
    font-weight: 100;
    margin-bottom: 0;
  }

  .form-floating {
    margin-bottom: 10px;
  }

  #form-submit {
    display: flex;
    justify-content: center;
  }

  #trybewarts-forms-logo {
    width: 60%;
  }

  #footer {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(50, 167, 145);
    border-top: solid 5px green;
  }

  #footer p {
    margin: 0;
  }

  #form-data {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.383);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(182, 182, 182);
  }

  #form-data h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    background-color: rgb(50, 167, 145);
    padding: 10px;
    color: white;
    border-radius: 8px;
  }

  #form-data p {
    font-weight: 800;
    word-wrap: break-word;
  }

  #textarea {
    height: 250px;
    resize: none;
  }

  #counter-character {
    display: flex;
    justify-content: end;
  }

}

@media screen and (min-width: 601px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  .header {
    background-color: rgb(50, 167, 145);
    display: flex;
    padding: 25px;
    justify-content: space-between;
    border-bottom: solid 5px green;
    padding-left: 100px;
    padding-right: 100px;
  }

  .trybewarts-header-logo {
    width: 100px;
  }

  #trybewarts-header-title {
    color: white;
    font-size: 70px;
  }

  #form-floating {
    display: flex;
    align-self: center;
  }

  #form-title {
    text-align: center;
    margin-bottom: 25px;
    background-color: rgb(50, 167, 145);
    padding: 10px;
    color: white;
    border-radius: 8px;
  }

  #form-title h1 {
    font-weight: 100;
    margin-bottom: 0;
  }

  .trybewarts-login {
    display: flex;
    width: 500px;
    margin-top: 20px;
  }

  #password-case {
    margin-left: 10px;
  }

  #btn-login {
    width: 150px;
    height: 60px;
    margin-left: 10px;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(250, 235, 215, 0.383);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(182, 182, 182);
  }

  #form-dataPerson {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .person-data {
    display: flex;
    width: 90%;
    justify-content: center;
  }

  .form-floating {
    margin-bottom: 10px;
    width: 280px;
  }

  .marg-left {
    margin-left: 10px;
  }

  #family-content {
    display: flex;
    justify-content: space-between;
  }

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #check-content {
    display: flex;
    flex-wrap: wrap;
  }

  #form-rate {
    display: flex;
    justify-content: space-between;
  }

  #rate {
    display: flex;
  }

  #counter-character {
    display: flex;
    justify-content: end;
  }

  #form-text {
    width: 100%;
  }

  #textarea {
    height: 180px;
    resize: none;
  }

  #form-submit {
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 300px;
  }

  #trybewarts-forms-logo {
    height: 500px;
  }

  #footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(50, 167, 145);
    border-top: solid 5px green;
  }

  #footer p {
    margin: 0;
  }

  #form-data {
    width: 675px;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.383);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(182, 182, 182);
    margin-right: 25px;
  }

  #form-data h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    background-color: rgb(50, 167, 145);
    padding: 10px;
    color: white;
    border-radius: 8px;
  }

  #form-data p {
    font-weight: 800;
    word-wrap: break-word;
  }
}
